/*///////////////////////////LogIn///////////////*/

#signup {
	display: flex;
	flex-direction: column;
}
label {
	text-align: center;
}
.emailError div {
	justify-content: center;
}

#signup input {
	width: 200px;
	height: 30px;
	border: solid 1px;
	display: flex;
	justify-items: center;
	align-self: center;
	flex-direction: column;
}

#submit-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items: center;
	width: 208px;
	height: 35px;
	cursor: pointer;
	background-color: black;
	border: 0px;
	color: white;
}

/*/ //////////////////////////SaignUp - Upload///////////////*/
h1,
.message {
	display: flex;
	justify-content: center;
}
.message {
	color: red;
}
#file {
	color: white;
}

.Signup {
	display: flex;
	flex-direction: column;
}

.Signup input {
	width: 200px;
	height: 30px;
	border: solid 1px;
	display: flex;
	justify-items: center;
	align-self: center;
	flex-direction: column;
}

.Signup button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items: center;
	width: 208px;
	height: 35px;
	cursor: pointer;
	background-color: black;
	border: 0px;
	color: white;
}

/*/////////////Log////////////////*/

.connection ul,
li {
	display: flex;
	flex-direction: row;
	margin-right: 30px;
	justify-content: center;
	cursor: pointer;
	list-style: none;
	color: black;
	align-items: center;
}

.active-btn {
	background-color: black;
	color: white;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	align-items: center;
}
.email,
.error {
	color: red;
}

.success {
	text-align: center;
	color: green;
}
